parameters:
    level: 7
    phpVersion: 80100
    paths:
        - src
        - config
        - database
        - workbench/app
    configDirectories:
        - config
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Larastan 2 (Laravel 10 / PHP 8.1 lane) knows one relation template type and a non-generic
        # HasFactory; Larastan 3 (Laravel 11+) expects two and a generic HasFactory.
        - '#specifies 2 template types, but class Illuminate\\Database\\Eloquent\\Relations\\(MorphMany|MorphTo) supports only 1#'
        - '#should return Illuminate\\Database\\Eloquent\\Relations\\(MorphMany|MorphTo)<.+, \$this\(.+\)> but returns#'
        - '#PHPDoc tag @use contains generic type Illuminate\\Database\\Eloquent\\Factories\\HasFactory<.+> but trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory is not generic#'
